main {
    width: 70%;
    height: 100vh;
    padding: 10px;
}
.main-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}

.main-container h2 {
    align-self: flex-start;
    border-bottom: 3px solid #fa2030;   
}

.main-container p {
    color: white;
    padding: 5%;
    font-size: large;
    text-wrap: wrap;
}

.main-container img {
    width: 200px;
    margin: auto;
}